<div class="container">
  <div class="row">
    <aside class="col-md-3">
      <img src="/stylists/<%= @stylist.id %>.jpg" class='stylist-avatar'>

      <h3><%= @stylist.full_name %></h3>
      <p class='text-muted'><%= @stylist.email %></p>

    </aside>

    <div class="col-md-9">

      <div class="panel panel-default">
        <div class="panel-body">
          <h3>Kiqs</h3>

          <div>
            <h4>Total: <%= pluralize @kiqs.count, 'kiq' %></h4>
            <h4>Requested: <%= pluralize @requested_kiqs.count, 'kiq' %></h4>
          </div>

          <%= link_to 'View', stylists_kiqs_path, class: 'btn btn-success' %>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-body">
          <h3>Clients</h3>

          <div>
            <h4><%= pluralize @client_count, 'client' %></h4>
          </div>

          <%= link_to 'View', stylists_users_path, class: 'btn btn-success' %>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-body">
          <h3>Conversations</h3>

          <div>
            <h4><%= pluralize @conversation_count, 'conversation' %></h4>
          </div>

          <%= link_to 'View', stylists_conversations_path, class: 'btn btn-success' %>
        </div>
      </div>

    </div>
  </div>
</div>
