<div class="container">
  <div class="row">
    <h3>Kiqs</h3>

    <div class="col-md-3">

      <ul class='nav'>
        <li><%= link_to 'All', stylists_kiqs_path %></li>
        <li><%= link_to 'Requested', stylists_kiqs_path(status: 'requested') %></li>
        <li><%= link_to 'Sent', stylists_kiqs_path(status: 'pending') %></li>
        <li><%= link_to 'Completed', stylists_kiqs_path(status: 'completed') %></li>
        <li><%= link_to 'Cancelled', stylists_kiqs_path(status: 'cancelled') %></li>
      </ul>

    </div>

    <div class="col-md-9 item-container">
      <%= render @kiqs %>
    </div>
  </div>

</div>
