<div class="container">
  <div class="row">
    <div class="col-md-12">
      <%= render 'shared/flash' %>
    </div>

    <h3>Kiqs</h3>

    <div class="col-md-3">

      <ul class='nav'>
        <%= kiq_nav 'All', stylists_kiqs_path %>
        <%= kiq_nav 'Requested', stylists_kiqs_path(status: 'requested'), 'requested' %>
        <%= kiq_nav 'Sent', stylists_kiqs_path(status: 'sent'), 'sent' %>
        <%= kiq_nav 'Completed', stylists_kiqs_path(status: 'completed'), 'completed' %>
        <%= kiq_nav 'Cancelled', stylists_kiqs_path(status: 'cancelled'), 'cancelled' %>
      </ul>

    </div>

    <div class="col-md-9 item-container">
      <table class='table'>
        <thead>
          <tr>
            <th>Kiq Number</th>
            <th>Order Date</th>
            <th>User name</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <%= render @kiqs %>
        </tbody>
      </table>

      <div>
        <%= will_paginate @kiqs, renderer: BootstrapPagination::Rails %>
      </div>
    </div>
  </div>

</div>
