<!DOCTYPE html>
<html>
<head>
  <title>Sidekiq</title>
  <base href="/">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body ng-app='sidekiq'>

  <div header></div>

  <div class='container'>
    <%= yield %>
  </div>

  <%= debug(params) if Rails.env.development? %>

</body>
</html>
